<div class="modal new-book">
  <input class="modal-state" id="modal-isbn" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-isbn"></div>
      <h3>Introduce el ISBN de cualquier libro. Nosotros nos ocupamos del resto</h3>
      <form class="search-bar js-create-book" role="search">
        <input type="search" class="search-isbn" placeholder="ISBN o EAN" />
        <button type="submit" class="isbn-submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>