@import "../bourbon/bourbon";
@import "../neat/neat";

.menu {
	@include outer-container;
	.add-book-menu {
		@include span-columns(3);
	}
	li {
		display: inline;
		padding-left: 50px;
	}
	li:not(.add-book-menu){
		margin-top: 0;
	}
}