@import "../bourbon/bourbon";
@import "../neat/neat";

.menu {
	@include outer-container;
	li {
		display: inline;
		padding-left: 50px;
	}
	li {
		margin-top: 0;
	}
}

.title {
	@include outer-container;
	h3 {
		@include span-columns(12);
	}
	article {
		@include span-columns(4);
		&:not(:last-child) {
			border-right: 2px solid $green;
		}
	}
}