<section class="hero-unit">
  <div class="row-top">
    <h1>BookSwap</h1>
    <form class="search-bar" role="search" id="typeahead-search-form">
      <button type="submit"></button>
      <input type="search" placeholder="p.ej. 'El Quijote'" name="book" id="books" />
    </form>
  </div>
  <div class="overlay"></div>
</section>
<div class="title">
  <% if reader_signed_in? %>
    <h1>Empieza a buscar libros en Bookswap</h1>
    <h3>Haz click para obtener más información</h3>
  <% else %>
    <h1>Estos son los libros disponibles en Bookswap</h1>
    <h3>Accede al site y registra los libros que tengas</h3>
  <% end %>
</div>
<div class="row js-access-buttons">
	<%= render partial: 'partials/book', collection: @selling_books, as: :book %>
</div>

<!-- MODAL FORM FOR SIGNING IN -->
<%= render 'partials/login' %>
<%= render 'partials/signup' %>
