
<section class="hero-unit">
  <div class="row-top">
    <form class="search-bar" role="search">
      <input type="search" placeholder="Start BookSwapping!" />
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</section>
<div class="title">
  <% if reader_signed_in? %>
    <h1>These books are readily available for you</h1>
    <h3>Just click on any of them to swap them!</h3>
  <% else %>
    <h1>These are all the books listed on BookSwap</h1>
    <h3>Log in or register to start swapping them!</h3>
  <% end %>
</div>
<div class="row">
	<%= render partial: 'partials/book', collection: @selling_books, as: :book %>
</div>

<!-- MODAL FORM FOR SIGNING IN -->
<div class="modal js-login-form">
  <label for="modal-1">
    <div class="modal-trigger "></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <%= render 'readers/sessions/new' %>
    </div>
  </div>
</div>

<div class="modal js-signup-form">
  <label for="modal-1">
    <div class="modal-trigger"></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <%= render 'devise/registrations/new' %>
    </div>
  </div>
</div>