<section class="hero-unit">
  <div class="row-top">
    <form class="search-bar typeahead-search-form" role="search">
      <input type="search" placeholder="Start BookSwapping!" name="book" id="books" />
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</section>
<div class="title">
  <% if reader_signed_in? %>
    <h1>These books are readily available for you</h1>
    <h3>Just click on any of them to swap them!</h3>
  <% else %>
    <h1>These are all the books listed on BookSwap</h1>
    <h3>Log in or register to start swapping them!</h3>
  <% end %>
</div>
<div class="row">
	<%= render partial: 'partials/book', collection: @selling_books, as: :book %>
</div>

<!-- MODAL FORM FOR SIGNING IN -->
<%= render 'partials/login' %>
<%= render 'partials/signup' %>
