<section class="hero-unit">
  <div class="row-top">
    <h1>Bookswap</h1>
    <h2>Si no vas a volver a leer ese libro, cámbialo! </h2>
    <form class="search-bar" role="search" id="typeahead-search-form">
      <button type="submit"></button>
      <input type="search" placeholder="p.ej. 'El Quijote'" name="book" id="books" />
    </form>
  </div>
  <div class="overlay"></div>
</section>
<% if !reader_signed_in? %>
<section class="steps">
  <div class="title">
      <h3>Cómo funciona</h3>
      <article>
          <p><i class="fa fa-book"></i></p>
          <p class="step">Regístrate y empieza a subir <strong>libros</strong>. Solo necesitas el <strong>ISBN</strong>, nosotros nos encargamos del restro.</p>
      </article>
      <article>
          <p><i class="fa fa-thumbs-o-up"></i></p>
          <p class="step">Por cada libro te daremos cierta <strong>cantidad de puntos</strong>. Los recibirás cuando alguien haga swap en tu libro</p>
      </article>
      <article>
          <p><i class="fa fa-shopping-cart"></i></p>
          <p class="step">Usa los puntos para <strong>coger libros de otros usuarios</strong>!</p>
      </article>
  </div>
</section>
<% end %>
<div class="row js-access-buttons">
	<%= render partial: 'partials/book', collection: @selling_books, as: :book %>
</div>

<!-- MODAL FORM FOR SIGNING IN -->
<%= render 'partials/login' %>
<%= render 'partials/signup' %>
