// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #119966;
$red: #FF715B;
$brown: #523F38;
$gray: #4C5454;
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


body {
	background: #f5f5f5;
}

form.search-bar input.search-isbn[type="search"] {
	padding: 5px 0 5px 10px;
}

.top-bar {
    text-align: right;
    background: $green;
    padding: 10px 5em 10px 0;
    a, span {
    	color: #fff;
    }
}

.hero-unit {
	background: image-url("bg-hero.jpeg") center;
    background-size: cover;
	height: 350px;
	margin-bottom: 2em;
	.sign-buttons {
		text-align: center;
		margin-top: 10em;
		div {
			background: rgba(255,255,255,0.8);
    		padding: 2em;
		}
	}
	.row-top {
		@include vertical-align();
	}
}

.title {
	text-align: center;
	color: $green;
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: .8em;
	}
}

.book {
	margin: 25px auto 20px;
	backface-visibility: hidden;
	min-height: 580px;
	.back .book-box {
		text-align: center;
		background-color: #fff;
		.swap:before {
			font-family: fontAwesome;
			content: "\f021";
			vertical-align: middle;
			font-size: 18px;
			margin-right: 8px;
		}
	}

	.front {
		.book-box{
			&:before {
				content: "";
				height: 100%;
				width: 100%;
				background: #fff;
				z-index: 9999;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
			&:hover:before {
				opacity: .7;
			}
		}
	}

	.book-box {
		position: relative;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0px 0px 20px rgba(0,0,0,.2);

		.book-box-actions {
			position: relative;
			
			.book-price {
				margin-top: 25px;
				position: absolute;
				top: 0;
				right: 0;
				background: $green;
				color: #fff;
				padding: 12px 24px;
				i {
					font-weight: 600;
					padding-left: 12px
				}
				&.hidden {
					display: none;
				}
			}
		}
		.show-info {
			display: flex;
		    align-items: center;
		    justify-content: center;
		    position: absolute;
		    top: 35%;
		    bottom: 50%;
		    left: 50%;
		    right: 50%;
		    opacity: 0;
		    transform: scale(0);
		    transition: all .3s ease-in-out;
		    z-index: 9999;

		    button {
		    	background: $red;
		    	transition: background .2s ease-in-out;
		    	&:hover {
		    		background: darken( $red,10% );
		    	}
		    }
		}

		.book-thumbnail {
		    margin: 0 auto;
		    img {
		    	width: 100%;
		    	border-top-left-radius: 3px;
		    	border-top-right-radius: 3px;
		    }
		}
		.book-inner-elements {
			padding: 25px;

			.book-title {
				margin-bottom: 0;
				color: $green;
				font-weight: 400;
			}
			.book-author {
				font-size: 10px;
				font-style: italic;
				font-weight: bold;
			}
			.book-description {
				font-size: 15px;
				line-height: 18px;
			}
		}
	}
}