.top-bar {
    text-align: right;
    background: $green;
    a, span {
    	color: #fff;
    }
    svg {
    	width: 200px;
	    height: 35px;
	    float: left;
	    margin-top: 5px;
    }
}

.menu {
	button{
		margin: .50em 0;
		padding: .5em .75em;
		color: #fff;
		transition: all .1s ease-in-out;
		&:hover {
			background-color: #fff;
			color: $green;
		}
		&.sign {
			background-color: #fff;
			color: $green;
		}
	} 
	a:not(:before) {
		padding: .5em .75em;
		color: #fff;
		transition: all .1s ease-in-out;
	}
	a:hover {
			color: $red;
		}
	
	.search-bar {
		margin-top: 9px;
		.isbn-submit {
		    padding: 0px 15px;
		    margin: 1px;
		}
	}

	.add-book-menu {
		a:before {
			font-family: fontAwesome;
			content: "\f067";
			font-size: 20px;
			vertical-align: middle;
			margin-right: 10px;
		}
		label {
			display: inline;
		}
	}

	.credit-tab {
		padding-left: 0;
		.current-credit:after {
			font-family: fontAwesome;
			content: "\f02d";
			vertical-align: middle;
			font-size: 18px;
		}
	}	
}

.browsing:before {
	font-family: fontAwesome;
	content: "\f279";
	vertical-align: middle;
	font-size: 18px;
	padding-right: 10px;
}

.sign:before {
	font-family: fontAwesome;
	content: "\f1e6";
	vertical-align: middle;
	font-size: 18px;
	padding-right: 10px;
}

.log:before {
	font-family: fontAwesome;
	content: "\f20e";
	vertical-align: middle;
	font-size: 18px;
	padding-right: 10px;
}

.my-profile {
	position: relative;
	padding-bottom: 2px;
	&:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #fff;
		transition: width .2s ease-in-out;
	}
	&:hover:after {
		width: 0;
		transform-origin: 0 0;
	}
}

.sign-out {
	&:before {
		font-family: fontAwesome;
		content: "\f08b";
		vertical-align: middle;
		font-size: 22px;		

	}
}

.profile-pic {
	display: inline;
    vertical-align: middle;
    background: #fff;
    width: 55px;
    height: 55px;
    margin: 0 20px;
}
