#typeahead-search-form {
	input[type="search"] {
		background: none;
		border: 0;
		border-bottom: 3px solid $green;
		box-shadow: none;
		width: 790px;
		padding-left: 50px;
		padding-bottom: 2px;
		font-size: 28px;
		color: $green;
		&:focus {
			outline: 0;
		}
	}

	button {
		left: 0;
		background: none;
		&:before {
			font-family: fontAwesome;
			content: "\f002";
			vertical-align: middle;
			font-size: 24px;
			color: $green;
		}
	}
}

.tt-menu.tt-open {
	background: darken($green, 5%);
}

.tt-dataset.tt-dataset-books {
    color: #f1f1f1;
    line-height: 40px;
    width: 760px;
	&:hover {
		color: #fff;
	}

	.tt-suggestion {
		cursor: pointer;
		padding: 0 40px;
		&:hover {
			background: darken($green,10%);
		}
	}
}

.flash-container h2 {
	margin: 0;
}

.purchase-container {
    overflow: auto;
    padding: 25px 0 25px 60px;
    img {
    	float: left;
    	width: 80px;
    }
    .purchase-info {
    	text-align: left; 
    	padding-left: 120px;
    	span {
    		font-weight: bold;
    	}
    }
}

.user-container {
	margin: 30px 0;
}

.user-panel {
	h1 {
		text-align: center;
		color: $green;
		font-size: 2em;
		margin-bottom: 1em;
	}

	h6 {
		font-size: 13px;
		text-align: center;
		color: $gray;
	}
	.avatar-status {
		text-align: center;
		float: left;
		position: relative;
	}
	abbr {
		display: none;
	}
	.input-edits {
		float: right;
	}
	.submit-group {
		text-align: center;
		margin-top: 15px;
	}
}

.button-filters {
	margin-top: 50px;
}

.input-group {
	position: relative;
	input {
		&:focus {
			outline: 0;
		}
	}
	.edit-button {
		position: absolute;
	    bottom: 15px;
	    right: 0;
	    background: transparent;
	    color: #222;
	    font-size: 13px;
	    z-index: 1;
	    &:focus {
	    	outline: 0;
	    }
	}
}