.user-container {
	margin-top: 30px;
}

.user-panel {
	h1 {
		text-align: center;
		color: $green;
		font-size: 2em;
		margin-bottom: 1em;
	}

	h6 {
		font-size: 13px;
		text-align: center;
		color: $gray;
	}
	.avatar-status {
		float: left;
		position: relative;
		border: 2px solid #1EA896;
	    border-radius: 14px;
	    box-shadow: 0px 2px 9px rgba(0,0,0,.4);
		.rating-star {
			position: absolute;
		    bottom: -11%;
		    left: 42%;
		    color: #F3DC15;
		}
	}
	abbr {
		display: none;
	}
	.input-edits {
		float: right;
	}
	.input-group {
		position: relative;
		.edit-button {
			position: absolute;
		    right: 0;
		    z-index: 1;
		    top: 1px;
		}
	}
	.submit-group {
		text-align: center;
		margin-top: 15px;
	}
}

.button-filters {
	margin-top: 50px;
}